/**************************HABILIDADES****************************/

.habilidades img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 30px auto;
}

/**************************HABILIDADES TABLET****************************/
@media (min-width: 768px) {
    .gridCenter {
        align-items: center;
    }
    .shortParagraph {
        max-width: 1100px;
        margin: 0 auto;
    }
    .shortParagraph p{
        max-width: 700px;
    }
}

/**************************HABILIDADES DESKTOP****************************/
@media (min-width: 1024px) {
    .grid3Colums {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 20px;
        grid-template-areas:
            "cell1 cell2 cell3"
            "cell4 cell5 cell6";
    }
}