/**************************HOME****************************/
.content {
    padding-top: map-get($principales , space);
}

.last {
    @extend .content;
    padding-bottom: map-get($principales , space);
}
/**************************HOME TABLET****************************/
@media (min-width: 768px) {
        .homeText {
        margin-top: 30%;
    }

    .homeText2 {
        margin-top: 10%;
    }
}
/**************************HOME DESKTOP****************************/
@media (min-width: 1024px) {
    .homeText2 {
        max-width: 700px;
        padding-left: 40px;
    }
    .salute{
        max-width: 500px;
        font-size: 20px;
    }
}    