/**************************NAVIGATION****************************/
.active {
    color: map-get($principales , fontColor1);
}

.nav-link {
    color: map-get($principales , fontColor2);
}

.current {
    color: map-get($principales , fontColor1);
}

.current:hover {
    color: map-get($principales , fontColor2);
}

.navbar-collapse {
    justify-content: end;
}

.navbar-toggler {
    border: transparent;
    color: transparent;
}

.navbar-toggler-icon {
    background-image: url(../assets/navButton.png);
}